{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Sign In</title>
</head>
<body>
    <div class="container">
        <div class="nav">
            <div class="left-side">
                <img class="logo" src="{% static "logo_fiis_0-removebg-preview.png" alt="hackerist" %}">
            </div>
            <nav class="mid-part">
                <a href="#">Home</a>
                <a href="#">Otros</a>
                <a href="#">Contactos</a>
                <a href="#">Malla</a>
            </nav>
            <div class="right-side">
                <a id="button" href="#">
                    ¿Qué hacemos? 
                    <i class="fa-solid fa-sort-down" style="position:absolute; right:15px; top: 9px;"></i>
                </a>
            </div>
        </div>
    </div>

    <section class="home">
        <div class="content">
            <a href="#">Fac.Ing.Informática y Sistemas</a>
            <h2>Bienvenido!</h2>
            <h3>A mi sitio web</h3>
            <pre>Lorem ipsum dolor sit amet 
                consectetur adipisicing elit. 
                Atque explicabo optio dolorum 
                quisquam dolores soluta quibus
                damsimilique alias dolorem iure?</pre>
            <div class="icon">
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-github"></i>
            </div>
        </div>

        <div class="signin">
            <h2>Iniciar sesión</h2>

            <div class="input">
                <input type="text" class="input1" placeholder="Email" required/>
                <i class="fa-solid fa-envelope"></i>
            </div>
            <div class="input">
                <input type="password" class="input1" placeholder="Password" required/>
                <i class="fa-solid fa-lock"></i>
            </div>
            <label class="check">
                <input checked="checked" type="checkbox"/>
                <div class="checkmark"></div>Recordarme
                <a href="#">Olvidó su contraseña?</a>
            </label>

            <div class="btn">
                <button class="buttons">SIGN IN</button>
            </div>

            <div class="account">
                <p>No tienes una cuenta?</p>
                <a href="#">Registrarse</a>
            </div>
        </div>
    </section>
</body>
</html>
