*{
    margin: 0;
    font-family: arial;
    margin-top: relative;

}
body{
    background-image: url(nebulosa_2560x1600_xtrafondos.com.jpg);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.nav {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8); /* Ajusta la transparencia según sea necesario */
    --gap: 5em;
    --line: 1px;
    --color: rgba(255, 255, 255, 0.2);
  
    background-image: linear-gradient(
        -90deg,
        transparent calc(var(--gap) - var(--line)),
        var(--color) calc(var(--gap) - var(--line) + 1px),
        var(--color) var(--gap)
      ),
      linear-gradient(
        0deg,
        transparent calc(var(--gap) - var(--line)),
        var(--color) calc(var(--gap) - var(--line) + 1px),
        var(--color) var(--gap)
      );
    background-size: var(--gap) var(--gap);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
  }
  
.left-side{
    width: 900px;
}
.logo{
    height: 115px;
    margin-left: 20px;
    background-color: white;
    border-radius: 10px;
    border-color: none;
}
.mid-part{
    display: flex;
    flex: 1;
}
.mid-part a{
    text-decoration: none;
    margin-right: 30px;
    font-size: 20px;
    color: #fff;
    align-items: center;
    text-align: center;
    margin-top: 35px;
}
.right-side{
    width: 250px;
}
#button{
    position: relative;
    text-decoration: none;
    color: #fff;
    background-color: rgb(7, 153, 158);
    border:none;
    border-radius: 20px;
    padding: 14px 35px;
    padding-left: 25px;
    top: 40%;
    font-size: 16px;
}
.home{
    position:absolute;
    top: 50%;
    left: 50%;
    height: 75%;
    width: 75%;
    transform: translate(-50%,-50%);
    background-image: url();
    background-size: cover;
    background-position: center;
    display: flex;
    margin-top: 10px;
    border: 1px solid black;
    border: none;
    border-radius: 10px;
}
.content{
    width: 900px;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
}
.content a{
    position: relative;
    font-size: 3em;
    font-weight: 700;
    top: -40px;
    left: 80px;
    text-decoration: none;
    color: #fff;
}
.content h2{
    position: relative;
    top: 50px;
    font-size: 3.5em;
    text-align: center;
    color: #fff;
}
.content h3{
    position: relative;
    top: 50px;
    font-size: 2em;
    text-align: center;
    color: #fff;
}
.content pre {
    position: relative;
    top: 50px;
    color: #fff;
    text-align: center;
    font-size: 1.2em;
    margin-top: 20px;
}
.content .icon{
    display: flex;
    position: relative;
    top: 120px;
    margin-top: 40px;
    font-size: 1.5em;
    justify-content: center;
}
.content .icon i{
    color: #fff;
    margin-left: 20px;
}
.signin {
    top: 60px;
    left: 80px;
    width: 500px;
    position: relative;
    backdrop-filter: blur(20px);
    padding: 60px 40px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.signin h2{
    text-align: center;
    font-size: 2.5em;
    color: #fff;
    margin-bottom: 25px;
}
.signin .input {
    position: relative;
    width: 100%;
    height: 30px;
    margin-bottom: 45px;
}
.signin .input .input1 {
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    background-color: transparent;
    border-bottom: 2px solid #fff;
}
.signin .input i{
    position: relative;
    right: -470px;
    bottom: 23px;
    color: #fff;
}
::placeholder{
    color: #fff;
    font-size: 18px;
}
.check{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    color: #fff;
    font-weight: bolder;
}

.btn {
    display: flex;
  }
  
  .buttons {
    height: 100%;
    width: 100%;
    font-size: 18px;
    font-weight: 700;
    padding: 12px;
    background-color: rgb(106, 129, 84);
    color: #fff;
    border: none;
    border-radius: 10px;
    letter-spacing: 1px;
    margin-bottom: 50px;
    transition: background-color 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .buttons:hover {
    background-color: greenyellow;
  }
  
  .buttons:hover svg {
    fill: #212121;
  }
  
.account {
    display: flex;
    color: #fff;
    justify-content: center;
}
.account p {
    margin-right: 5px;
}
.account a{
    text-decoration: none;
    font-weight: 700;
    color: #e4e3e3;
}

/* Hide the default checkbox */
.check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.check a{
    color: #fff;
    text-decoration: none;
}

/* Create a custom checkbox */
.checkmark {
    position: relative;
    top: -5px;
    left: 0;
    height: 1.3em;
    width: 1.3em;
    border: 2px solid #414141;
    transition: all 0.4s cubic-bezier(0.23, 1, 0.320, 1);
}

/* When the checkbox is checked */
.check input:checked ~ .checkmark {
    background: #0974f1;
    border-color: #0974f1;
    filter: drop-shadow(5px 5px);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
}

.check .checkmark:after {
    inset: 0;
    margin: auto;
    width: 0.5em;
    height: 0.5em;
    background-color: #414141;
    border-width: 0 0.15em 0.15em 0;
}

/* Show the checkmark when checked */
.check input:checked ~ .checkmark:after {
    width: 0.25em;
    height: 0.5em;
    border: solid #414141;
    border-width: 0 0.15em 0.15em 0;
    border-color: white;
    background-color: transparent;
    transform: rotate(45deg);
}